@font-face {
  font-family: 'DM Sans';
  src: url('./vendor/fonts/DMSans-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./vendor/fonts/DMSans-Italic-Variable.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
}
